<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Products</title>
</head>
<body>
    {% if products %}
    <ul>
        {% for product in products %}
        <li>
            <h2>{{product.name}}</h2>
            {% if product.photo %}
                <img style="max-width: 500px;" src='http://localhost:8000/media/{{product.photo}}' alt="{{product.name}}">
            {% else %}
                <p>This product doesn't have a logo</p>
            {% endif %}
            <p>{{product.get_abbreviated_description}}</p>
            <p>Company Name: {{product.company_name}}</p>
            {% if product.company_logo %}
                <img style="max-width: 500px;" src='http://localhost:8000/media/{{product.company_logo}}'
                    alt="{{product.company_name}}">
            {% else %}
                <p>This company doesn't have a logo</p>
            {% endif %}
            
            <p>Categories: </p>
            <ul>
                {% for category in product.categories.all %}
                    <li>{{category}}</li>
                {% endfor %}
            </ul>
            <p>School Type: {{product.school_type}}</p>
            <p>Price: {{product.price}}</p>
            <p>Expiration Date: {{product.expiration_date}}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>This site doesn't have currently selling items.</p>
    {% endif %}
</body>
</html>